div#InvoicesList{
  div.title-page{
    display: flex;
    justify-content: space-between;

    a.btn-add-invoice{
      width: 177px;
      height: 48px;
      line-height: 48px;
      background: #174A84;
      display: inline-block;
      text-align: center;
      color: #fff;
    }
  }
}